#checkout-payment-step .worldlineop-htp.disabled iframe {
    display: none
}

#checkout-payment-step .worldlineop-htp iframe {
    border: none;
    width: 100%
}

@media (max-width: 768px) {
    #checkout-payment-step .worldlineop-htp iframe {
        height: 500px !important;
    }

    body:has(input[data-module-name*="token"]:checked) #checkout-payment-step .worldlineop-htp iframe {
        height: 90px !important;
    }
}

label {
    text-align: left;
}

#checkout-payment-step .worldlineop-htp-btn.disabled button {
    display: none
}

#checkout-payment-step .worldlineop-token-htp-btn.disabled button {
    display: none
}
