#checkout-payment-step {
  .worldlineop-htp {
    &.disabled iframe {
      display: none;
    }

    iframe {
      border: none;
      width: 100%;
    }
  }

  .worldlineop-htp-btn.disabled button {
    display: none;
  }

  .worldlineop-token-htp-btn.disabled button {
    display: none;
  }
}
