#checkout-payment-step {
  .worldlineop-htp {
    &.disabled iframe {
      display: none;
    }

    iframe {
      border: none;
      width: 100%;
    }

    @media (max-width: 767.98px) {
      iframe {
        height: 500px !important;
      }
    }
  }

  .worldlineop-htp-btn.disabled button {
    display: none;
  }

  .worldlineop-token-htp-btn.disabled button {
    display: none;
  }
}
